$bg: #f3f2f1;
$border: #8a8886;
$text: #323130;
$info: #605e5c;

.ncr {
  &.naksha--dropzone-root {
    width: 100%;
    margin-top: 2em;
  }

  .naksha--upload-next {
    min-width: 100%;
    width: 100%;
  }

  .naksha--upload-icon {
    width: 24px;
  }

  .upload--form {
    > div {
      margin-bottom: 0.5rem;
    }
  }

  .naksha--dropzone {
    cursor: pointer;
    height: 281px;
    width: 100%;
    max-width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px dashed $border;
    outline: none;
    transition: border 0.24s ease-in-out;
    border-radius: 4px;
    background: $bg;
    p {
      color: $text;
      margin-top: 0;
      font-size: 1.6em;
      font-weight: 200;
    }
    em {
      color: $info;
    }
    &:hover {
      em {
        color: darken($info, 20%);
      }
    }
  }

  .upload--table {
    max-height: 500px;
    margin-bottom: 2rem;
    overflow-y: scroll;
    display: flex;
  }
}
