name: NodeJS

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: ["12"]
    name: Node ${{ matrix.node }}
    steps:
      - uses: actions/checkout@v1
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}

      - name: Setup Yarn
        run: npm install -g yarn@1

      - name: Install
        run: yarn install && yarn install-peers -f

      - name: Build
        run: yarn build

      - name: Publish
        if: startsWith(github.ref, 'refs/tags/')
        run: echo "//registry.npmjs.org/:_authToken=$NPM_AUTH_TOKEN" > ~/.npmrc && npm publish --access public
        env:
          NPM_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
